
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.css">
    <link href="external.css" rel="stylesheet">

    <meta charset="UTF-8">
<style type="text/css">
    body{
      background-color: #212529;
          color: white;
    }

    .alert {
    
    margin: 15%;
    margin-left: : 40%;
    margin-right: 40%;
   }

   .row {
   	margin-top: 6%;
   }

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
 <title>Title</title>


<body>


{% block all %}
<div class="row"> </div>

{% if not request.session.user_id %}
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<a href="{% url 'sign_up' %}">
				<button type="button" class="btn btn-danger btn-lg btn-block">Sign up</button>
			</a>
		</div>
	</div>
{% endif %}

{% if not request.session.user_id %}
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<a href="{% url 'login' %}">
				<button type="button" class="btn btn-success btn-lg btn-block">Login</button>
			</a>
		</div>
	</div>
{% endif %}


<div class="row">
	<div class="col-md-6"></div>
	<div class="col-md-5">
		<a href="{% url 'exit' %}">
			<button type="button" class="btn btn-warning">Exit</button>
		</a>
	</div>
</div>

{% endblock all %}

{% if login_exist %}
<div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Oh snap!</strong>  User {{ login_exist }} already exist. Try to login
</div>
{% endif%}

{% block content %}
{% endblock content %}







</body>